on:
  push:
    branches:
      - main
jobs:
  Auto-Deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: SSH RemoteCommands
        uses: appleboy/ssh-action@0.1.5
        with:
          host: ${{secrets.SERVER_HOST}}
          port: ${{secrets.SERVER_PORT}}
          username: ${{secrets.SERVER_USERNAME}}
          password: ${{secrets.SERVER_PASSWORD}}
          scripts: |
            cd ~/CryptoGraph
            git pull origin main
            export NVM_DIR=~/.nvm
            source ~/.nvm/nvm.sh
            cd ./client
            npm install
            npm run build
            pm2 reload client
            cd ../server
            npm install
            pm2 reload server
